[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
pre-commit = "*"
pytest = "*"
requests-mock = "*"
sphinx-rtd-theme = "*"
sphinx-last-updated-by-git = "*"

[packages]
sphinxcontrib-django = {editable = true, path = "."}
django = "*"
sphinx = "*"
psycopg2-binary = "*"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
pprintpp = "*"
